/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*CSS*/
:root{
    --main-color:#665df5;
    --color-2: #efb810;
    --bg-dark: #2b2c2f;
    --main-a-color-negro:var(--main-color);
    --negro-a-main-color:var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
    --shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
    --black-900:#000000;
    --black-400:#555555;
    --black-100:#f7f7f7;
    --black-000:#ffffff;
    --black-alpha-100:rgba(0,0,0,0.5);
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #ffffff;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    outline: none!important;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: var(--main-color);
}
a:hover{
    color: var(--color-2);
}


.section-padding{
    padding: 80px;
}

.section-title{
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 40px;
    color: var(--black-900);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}
.section-title h2 span{
    color: var(--color-2);
}

.section-rating{
    font-size: 18px;
    color: var(--color-2);
    font-weight: 700;
    text-transform: capitalize;
}

.section-rating h3{
    font-size: 16px;
    color: var(--black-900);
    font-weight: 700;
    text-transform: capitalize;
}

/*Navbar*/
.navbar{
    background-color: transparent;
    padding: 10px 0;
    transition: all 0.5s ease;
}

.navbar.navbar-shrink{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--main-color);
    padding: 10px 0;
}

.navbar > .container{
    padding: 15px 0;
}
.navbar .navbar-brand{
font-size: 20px;
color: #ffffff;
font-weight: 500;
text-transform: capitalize;
}

/* esto separa los elementos del lado derecho del navbar */
.navbar .nav-item{
    margin-left: 40px;
}

.navbar .nav-item .nav-link{
    color: #ffffff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
}

/* esto dibuja la linea arriba de los elemntos del navbar */
.navbar .nav-item .nav-link::before{
    content: '';
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.5s ease;
    transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before{
    transform: scale(1);
}

.home{
    background-color: var(--main-a-color-negro);
    min-height: 100vh;
    padding: 150px 0px;
    position: relative;
    z-index: 1;
}

.home::before{
   content: '';
   position: absolute;
   left: 0;
   right: 0;
   bottom: -15px;
   height: 212px;
   background-image: url("../IMG/waves.png");
   background-size: cover;
   background-position: bottom;
   background-repeat: no-repeat;
   z-index: -1;
}

.home-text h1{
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 20px;
}

.home-text p{
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    margin: 0;
    font-weight: 300;
}

.home .sign-up-btn{
    margin-top: 40px;
}

.home-img img{
    max-width: 450px;
    width: 100%;
    animation: courseani01 3s linear infinite;
}


/* footer */
.footer{
    background-color: var(--main-color);
    padding: 50px 0;
}

.footer-col h3{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 25px;
    text-transform: capitalize;
}

.footer-col p{
    font-size:16px;
    color: rgba(255, 255, 255, 0.9); 
    font-weight: 300;
    line-height: 26px;
    margin: 0;
}

.footer-col ul{
    list-style: none;
    margin: 0;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size:16px;
    color: rgba(255, 255, 255, 0.9); 
    font-weight: 300;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
}

.footer-col ul li a:hover{
    padding-left: 5px;

}

.footer .copyright-text{
    padding: 20px 0;
    text-align: center;
    font-size:16px;
    color: rgba(255, 255, 255, 0.9); 
    font-weight: 300;
    margin:50px 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* Content */
.contents .accordion-item:not(:last-child){
    margin-bottom: 20px;
}

.contents a{
    text-decoration: none;
}

.contents .accordion-header{
    box-shadow: var(--shadow-black-100);
    padding: 20px 30px;
    transition: all 0.5s ease;
    cursor: pointer;
    position: relative; 
}
.contents .accordion-header::before{
   content: '\f067';
   font-family: 'Font Awesome 5 Free';
   font-weight: 900;
   position: absolute;
   height: 30px;
   width: 30px;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 16px;
   text-align: center;
   line-height: 30px;
   color: var(--black-400);
   transition: all 0.5s ease;
}

.contents .accordion-header:not(.collapsed)::before{
    content: '\f068';
    color: #ffffff;
}

.contents .accordion-header:not(.collapsed){
    background-color: var(--main-color);
}


.contents .accordion-header:not(.collapsed) h3{
    color: #ffffff;
}

.contents .accordion-header h3{
    font-size: 18px;
    font-weight: 500;
    color: var(--black-400);
    margin: 0;
    transition: all 0.5s ease;
}

.contents .accordion-body{
    padding: 30px;
    background-color: var(--black-100);
}

.contents .accordion-body p{
    font-weight: 300;
    font-size: 16px;
    color: var(--black-400);
    line-height: 26px;
    margin: 0;
    
}


.description-content{
    background-color: var(--black-100);
    padding: 30px;
    border-radius: 10px;
}

.description-content ul{
    padding-left: 30px;
}

/* instructor */
.instructor{
    background-color: #ffffff;
    padding: 80px 0 80px;
}

.instructor .instructor-img{
    margin: auto;
}

.instructor .instructor-img img{
    max-width: 450px;
    width: 100%;
    border-radius: 50%;
}
.instructor .list-unstyled li{
    font-size: 16px;
    line-height: 26px;
    color: #555555;
    margin-bottom: 15px;
    font-weight: 300;
}

.instructor .list-unstyled li i{
    height: 25px;
    width: 25px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    color: var(--main-color);
}

.instructor-title .name{
    font-size: 40px;
    color: var(--main-color);
    text-transform: capitalize;
}

.instructor-title .subtitle{
    font-size: 25px;
    color: var(--black-400);
}

/* comments */
.comments-box{
    margin: 20px 0;
}

.form-comments textarea{
    width: 100%;
    height: 84px;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    max-height: 300px;
    padding: 10px;
    line-height: 30px;
    border: 1px solid var(--main-color);
    margin-bottom: 20px;
    border-radius: 10px;
}

.form-comments .btn{
    margin-bottom: 20px;
}
.media{
    border-top: 1px solid var(--main-color);
    padding-top: 20px;
}

.media img{
    margin-right: 20px;
    border-radius: 50%;
}

.media-body .name{
    color: var(--main-color);
    margin-bottom: 0;
}

.media-body .name span{
    font-size: 12px;
    color: var(--black-400);
    margin-left: 10px;
}

.media .user-comment{
    margin-top: q0px;
}

.media .media-body .buttons a{
    text-decoration: none;
    margin: 10px;
}

@keyframes courseani01{
    0%,100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
}

.btn{
    background-color: #ffffff;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}

.btn:focus{
    box-shadow: var(--shadow-black-300);
}
.btn:hover{
    color: #ffffff;
    background-color: var(--main-color);
}
